.sidebar {
  $font-color: #FFF;
  $bg-color: #303E4D;

  background-color: $bg-color;
  max-height: 100%;
  overflow: auto;

  a {
    color: inherit;
  }

  &-section {
    color: darken($font-color, 20%);

    &-header {
      padding: .5rem 1rem 0;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      &-button {
        appearance: none;
        border: 0;
        background: transparent;
        font-size: .8rem;
        color: inherit;
        cursor: pointer;

        &:hover,
        &:focus {
          color: #FFF;
        }

        &:focus {
          outline: 0;
        }
      }
    }

    &-list {
      list-style: none;
      padding: .5rem 0;
      margin: 0;

      a {
        display: block;
        text-decoration: none;
        padding: .5rem 1rem;
        line-height: 1;

        &::before {
          margin-right: .25rem;
        }

        &:hover {
          background-color: lighten($bg-color, 10%);
        }

        &:hover,
        &.selected {
          color: $font-color;
        }

        &.selected {
          background-color: lighten($bg-color, 20%);
        }
      }

      &-item {
        position: relative;

        &-room {
          a {
            &::before {
              content: "#";
            }
          }
        }

        &-remove {
          position: absolute;
          top: 0;
          right: 0;
          appearance: none;
          border: 0;
          background: transparent;
          height: 2rem;
          width: 2rem;
          line-height: 0;
          padding: 0;
          font-size: 1rem;
          font-weight: bold;
          color: #FFF;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          opacity: 0;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
