.messagelist {
  list-style: none;
  padding: .5rem 0;
  margin: 0;
  max-height: 100%;
  overflow: auto;

  &-item {
    padding: .5rem 1rem;
    background-color: #FFF;

    &-username {
      font-weight: bold;
      margin-bottom: .5rem;
    }
  }
}
