.meta {
  border-left: 1px solid #DEDEDE;
  max-height: 100vh;
  overflow: auto;
  display: grid;
  grid-auto-rows: max-content auto;

  &-title {
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #F1F3F4;
    border-bottom: 1px solid #DEDEDE;
  }

  &-body {
    padding: 1rem;
    max-height: 100%;
    overflow: auto;
  }
}
